* {
  margin:0;
  padding:0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  color: #000;
}
body{
  background-color: #fdfcf8
}
@import url('https://fonts.googleapis.com/css?family=Black+Han+Sans:400');
@import url('https://fonts.googleapis.com/css?family=Black+Han+Sans&display=swap&subset=korean');
.login{
  display: flex;
  align-items: flex-start;
  position: relative;
  margin: 0 auto;
  margin-bottom: -50px;
  height: 53px;
  width: 1192px;
  text-align: right;
  justify-content: flex-end;
}
.login ul{
  display: flex;
}
.login ul li{
  margin-left: 10px;
  font-size: 14px;
}
header{
  display: block;
}
#header{
  left: 0;
  top: 0;
  padding: 20px;
  width: 100%;
  z-index: 900;
}
.head_wrap{
  display: flex;
  align-items: flex-start;
  position: relative;
  margin: 0 auto;
  padding-top: 32px;
  height: 92px;
  width: 1192px;
}
.logo{
  margin-right: auto;
}
.logo{
  background: url("../images/logo.png") no-repeat 0 0;
  background-size: 100% auto;
  height: 63px;
  width: 165px;
}
.loglink a{
  display: block;
  width: 180px;
  height: 50px;
}
#header .head_search {
  transition: border-radius 0.2s ease-in-out;
}
#header .head_search {
  border: 2px solid #2360E6;
  border-radius: 30px;
  box-sizing: border-box;
  margin: auto 0;
  height: 50px;
  width: 170px;
  background-color: #fff; 
}
#header .form_cont{
  overflow: hidden;
  position: relative;
}

.input_set{
  box-sizing: border-box;
  padding: 14px 32px 14px 14px;
}
#searchTerm{
  width: 100px;
  height: 14px;
  border: none;

}
#header .head_search .bt_search {
  background: url(https://s3.ckdcare.link/upload/front/pc/assets/images/common/icon_search_24.svg) no-repeat 0 0;
  position: absolute;
  right: 16px;

  height: 24px;
  width: 24px;
  border: none;
  line-height: 24px;
}


.navigation{
  margin: 0 130px;
}
.navigation ul{
  display: flex;
}
.navigation ul li{
  margin-right: 25px;
  font-size: 17px;
}








footer{
  width: 100%;
  min-width: 1600px;
  height: 750px;
  padding: 0 317px;
  background-color: #414141;
  margin: 0 auto;
}

.footer1{
  padding-bottom: 55px;
}
.footer1 ul{
  display: flex;
  
}
.footer1::after{
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #fff;
}
.footer1 ul li a{
  font-size: 17px;
  color: #fff;
  height: 74px;
  line-height: 74px;
  margin-right: 50px;
}

.footer2{
  display: flex;
  justify-content: space-between;
  height: 315px;
}
.footer2 .call_center .footer_title{
  padding-bottom: 44px;
  font-size: 16px;
  color: #fff;
}
#tell_number{
  font-size: 19px;
  color: #fff;
  font-weight: bold;
}

.footer2 .call_center .footer_text{
  color: #fff;
}
.footer2 .call_center .footer_text .footer_bold{
  color: #fff;
  font-weight: bold;
}

.footer3::before{
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #fff;
}

.footer2 .company .footer_title{
  padding-bottom: 44px;
  font-size: 16px;
  color: #fff;
}
#tell_number{
  font-size: 19px;
  color: #fff;
  font-weight: bold;
}

.footer2 .company .footer_text{
  color: #fff;
}
.footer2 .company .footer_text .footer_bold{
  color: #fff;
  font-weight: bold;
}






.footer2 .delivery .footer_title{
  padding-bottom: 44px;
  font-size: 16px;
  color: #fff;
}
#tell_number{
  font-size: 19px;
  color: #fff;
  font-weight: bold;
}

.footer2 .delivery .footer_text{
  color: #fff;
}
.footer2 .delivery .footer_text .footer_bold{
  color: #fff;
  font-weight: bold;
}
.footer2 .delivery .footer_text a{
  color: #fff;
}





.footer3::before{
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #fff;
}

.footer3 .shopping_menu{
  display: inline-block;
  padding-top: 46px;
}
#shopping_text{
  color: #fff;
}
.SNS{
  position: relative;
  padding-top: 46px;
  float: right;
  right: 505px;
}
.SNSicon{
  display: flex;
}
.SNSicon div{
  display: flex;
  margin-right: 20px;
}
.footer3 .footer_title{
  padding-bottom: 44px;
  font-size: 16px;
  color: #fff;
}


.subimg{
  position: relative;
  display: block;
  width: 1290px;
  margin: 0 auto;
}

.product{
  position: relative;
  display: block;
  width: 1290px;
  height: auto;
  margin: 0 auto;
}

.title{
  display: flex;
  justify-content: space-between;
}
.option{
  padding-top: 22px;
}
.product_title{
  font-family: 'Black Han Sans';
  font-size: 38px;
  font-weight: 400;
  color: #262626;
  line-height: 38px;

}

.accordian{
  padding: 33px 0;
}
.accordian .select{
  width: 198px;
  height: 43px;
  border: 1px solid #767676;
  
}

.sort{
  display: flex;
  padding-left: 30px;
  height:58px;
  background-color: #e9e9e9;
  border-top: 1px solid #262626;
}
.sort p{
  margin-right: 20px;
  line-height: 58px;
}


.best{
  padding-top: 97px;
}

.product_wrap{
  padding-top: 55px;
  padding-bottom: 49px;
}

.product_wrap ul{
  padding-top: 49px;
}

.number{
  padding-bottom: 49px;
}
.product .number div{
  width: 35px;
  height: 35px;
  text-align: center;
  line-height: 35px;
  margin: 0 auto;
}
.product .number div:hover{
  background-color: #ffce0f;
  transition: 0.2s;
}


.product_list{
  display: flex;
  width: 1290px;
  min-width: 900px;
  justify-content: space-between;
}
.product_list li{
    position: relative;
    float: left;
    width: 309px;
    height: 440px;
    border: 1px solid #d9d9d9;
}
.product_list .img {
    position: absolute;
    top: 0;
    left: 0;
}

.product_list li:hover{border: 1px solid #333;}
.product_list dl {padding: 318px 0 0 0;}

.product_list dt { padding:11px 10px 14px;; line-height: 30px; border-top: 1px solid #f0f0f0;}
.product_list dt a {font-size: 15px; color: #1a1a1a;}
.product_list .price { padding: 0 0 0 12px; font-size: 17px; color: #1a1a1a; font-weight: bold;}

.product_list .btm { position: absolute; left: 0; bottom: 0; width: 100%; background: #fafafa; border-top: 1px solid #f0f0f0;}
.product_list .btm div {float: left; width: 50%; height: 30px; text-align: center; font-size: 12px; line-height: 30px; color: #767676;}
.product_list .btm div a { color: #767676; font-size: 12px;}
.product_list .btm div a img {padding: 0 5px 0 0;}